$lightFontColor: blanchedalmond;
$darkBackgroundColor: rgb(56, 56, 56);
nav {
  margin: 0 !important;
  .navbar-link {
    display: flex;
  }
}

@media screen and (max-width: 415px) {
    nav {
        justify-content: center !important;
        h1 {
            font-size: 28px;
        }
    }
}
