$lightFontColor: #fff;
$darkBackgroundColor: rgb(56, 56, 56);
.navigation {
  display: flex;
  padding: 20px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  > * {
    flex-grow:1;
    flex-basis: 0;
  }
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $lightFontColor;
    h1 {
      margin-left: 5px;
    }
  }
}

@media screen and (max-width: 415px) {
    .navigation {
        justify-content: center !important;
        h1 {
            font-size: 28px;
        }
    }
}
