$lightGreen: #00d949;

.controls-container {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid $lightGreen;
  height: 50px;
  transition: all ease-in-out 200ms;
  background-color: #000;
  z-index: 3;

  .transparent_button {
    i {
      font-size: 40px;
    }
  }
  &:hover {
    height: 100px;
  }
}
