<div class="controls-container">
  <button class="transparent_button active">
    <i class="material-icons">skip_previous</i>
  </button>
  <button class="transparent_button active">
    <i class="material-icons">skip_next</i>
  </button>
  <button class="transparent_button active">
    <i class="material-icons">360</i>
  </button>
  <button class="transparent_button active">
    <i class="material-icons">play_arrow</i>
  </button>
  <button class="transparent_button active">
    <i class="material-icons">shuffle</i>
  </button>
</div>
