<div class="category-wrapper">
  <div class="title-row">
    <h1>{{title}}</h1>
  </div>
  <h2 class="nothing-found__message" *ngIf="isEmpty">Nothing found</h2>
  <section *ngIf="!isEmpty" class="items-list">
    <div class="see-all_row" *ngIf="notFullList">
      <span [routerLink]="['/', title, 'all']">See All</span>
    </div>
    <div *ngFor="let item of items"
         class="details"
         [ngStyle]="{'background-image': 'url('+getCoverImage(item)+')'}">
      <h3 [routerLink]="['/', title, item.id]" [fragment]="item.name" [title]="item.name">{{getTitle(item)}}</h3>
    </div>
  </section>
</div>
