$darkBackgroundColor: rgb(56, 56, 56);

h1 {
  padding: 20px;
  color: #ffffff;
  @media screen and (max-width: 415px) {
    font-size: 24px;
  }
}
.album-container {
  background: url("../../../assets/cover.jpg") no-repeat $darkBackgroundColor;
  background-size: cover;
  .content {
    width: 90%;
    margin: 0 auto;
    .albums-list {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 978px) {
        grid-template-columns: repeat(auto-fill, 200px);
      }
      @media screen and (max-width: 415px) {
        grid-template-columns: repeat(auto-fill, 100px);
      }
      div {
        .details {
          position: relative;
          text-align: center;
          h3 {
            color: rgb(56, 56, 56);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transition: 0.3s ease-in-out ease-in;
            transition: 0.3s ease-in-out;
            visibility: hidden;
            z-index: 3;
            @media screen and (max-width: 415px) {
              font-size: 14px;
            }
          }
          img {
            object-fit: cover;
            max-height: 320px;
            max-width: 320px;
            @media screen and (max-width: 978px) {
              max-height: 200px;
              max-width: 200px;
            }
            @media screen and (max-width: 415px) {
              max-height: 100px;
              max-width: 100px;
            }
          }
          &:hover h3 {
            visibility: visible;
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: whitesmoke;
            opacity: 0;
            transition: 0.5s ease;
          }
          &:hover::before {
            opacity: 0.4;
          }
        }
      }
    }
  }
}
