<section class="album-container">
    <div class="content">
        <app-navbar></app-navbar>
        <h1>Albums</h1>
        <div class="albums-list">
            <div *ngFor="let album of albums">
                <a [routerLink]="['/album', album.id]">
                    <div class="details">
                        <h3>{{album.name}}</h3>
                        <img [src]="getCoverImage(album)" />
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>