<div class="details-container">
  <div class="details-info">
    <div class="top-info">
      <img *ngIf="mainImage" class="left-side" [src]="mainImage" alt="">
      <div class="right-side">
        <h1>{{entityName}}</h1>
        <div class="buttons">
          <button (click)="playPause()">{{buttonLabel | async}}</button>
        </div>
        <div class="metadata">
          <p>popularity: </p>
          <progress [max]="100" [value]="popularity || 0"></progress>
        </div>
      </div>
    </div>
    <div class="bottom-info" *ngIf="biography">
      <p>{{biography}}</p>
    </div>
    <div class="tracks-list">
      <app-track *ngFor="let track of tracks" [track]="track"></app-track>
    </div>
  </div>
</div>
