$lightGreen: #00d949;

h2,
h5,
h6,
p {
  margin: 0;
  color: #ffffff;
}
.toggle-menu_button {
  i {
    font-size: 38px;
  }
}
.mat-button {
  line-height: inherit;
  min-width: 0px;
  padding: 0px;
  &:focus {
    outline: none;
  }
}
.mat-divider {
  border-top-color: rgba($color: #ffffff, $alpha: 0.5);
}
.tracks-section {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  //height: 100vh;
  width: 550px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 2;
  @media screen and (max-width: 415px) {
    width: 100%;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    .toggle-close {
      i {
        color: #ffffff;
      }
    }
    @media screen and (max-width: 415px) {
      button:first-child {
        margin-bottom: 15px;
      }
    }
    h2 {
      width: 100%;
      text-align: center;
      @media screen and (max-width: 415px) {
        font-size: 24px;
      }
    }
  }
  .tracks-list {
    box-shadow: inset -4px 18px 12px -12px rgba(0, 217, 73, 0.03);
    height: calc(100vh - 122px);
    overflow-y: scroll;
  }
}
.tracks-list::-webkit-scrollbar-track {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.3);
}
.tracks-list::-webkit-scrollbar {
  width: 12px;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.3);
}
.tracks-list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $lightGreen;
}
