@import "../../../variables";

h2,
h5,
h6,
p {
  margin: 0;
  color: $whiteText;
}

.toggle-menu_button {
  i {
    font-size: 38px;
  }
}

.mat-button {
  line-height: inherit;
  min-width: 0px;
  padding: 0px;

  &:focus {
    outline: none;
  }
}

.mat-divider {
  border-top-color: rgba($color: $whiteText, $alpha: 0.5);
}

.tracks-section {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 50px;
  width: 550px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 2;
  @media screen and (max-width: 415px) {
    width: 100%;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toggle-close {
      i {
        color: $whiteText;
      }
    }

    @media screen and (max-width: 415px) {
      button:first-child {
        margin-bottom: 15px;
      }
    }

    h2 {
      width: 100%;
      text-align: center;
      @media screen and (max-width: 415px) {
        font-size: 24px;
      }
    }
  }

  .controls-container {
    padding: 10px 0;

    button {
      margin-right: 10px;
    }
  }

  .tracks-list {
    box-shadow: inset -4px 18px 12px -12px rgba(0, 217, 73, 0.03);
    height: calc(100vh - 122px);
    overflow-y: scroll;
  }
}
