<div class="toggle-icon" *ngIf="isPlaylistClosed" (click)="togglePlaylist()">
    <img [src]="menuOpen" />
</div>
<section>
    <div class="track-list" [@slideInOut]="isPlaylistClosed ? 'out' : 'in'">
        <div class="title">
            <i class="material-icons" [style.color]="'#ffffff'" (click)="togglePlaylist()">close</i>
            <h2>{{albumName}}</h2>
        </div>
        <div *ngFor="let track of tracks" class="tracks-container">
            <div *ngIf="track.preview_url" class="track">
                <audio [id]="track.id" [src]="track.preview_url"></audio>
                <i class="material-icons" [style.color]="'#ffffff'" *ngIf="!track.isPlaying"
                    (click)="listenTrack(track, track.track_number)">play_circle_outline</i>
                <i class="material-icons" [style.color]="'green'" *ngIf="track.isPlaying"
                    (click)="pause()">pause_circle_outline</i>
                <h6 [style.color]="track.isPlaying ? 'green' : '#ffffff'">{{track.name}}</h6>
                <p [style.color]="track.isPlaying ? 'green' : '#ffffff'">{{displayMillisecInMinSec(track.duration_ms)}}
                </p>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</section>