h2, h5, h6, p {
    margin: 0;
    color: white;
}

.track-list {
    position: absolute;
    right: 0;
    height: 89vh;
    overflow-y: scroll;
    background: rgba($color: rgb(59,59,59), $alpha: 0.6);
    display: flex;
    flex-direction: column;
    padding: 35px;
    h2 {
        padding-bottom: 25px;
        align-self: center;
    }
    div {
        padding-bottom: 20px;
        #player {
            width: 100%;
        }
        .track {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                margin: 0 5px;
                width: 32px;
                filter: invert(100%);
            }
            h6 {
                margin: 0 15px;
            }
        }
    }    
}
.track-list::-webkit-scrollbar-track
{
	border-radius: 2px;
    background: rgba($color: rgb(59,59,59), $alpha: 0);
}
.track-list::-webkit-scrollbar
{
	width: 12px;
    opacity: 0.6;
	background: rgba($color: rgb(59,59,59), $alpha: 0);
}
.track-list::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F5F5F5;
}