@use 'variables' as *;

.detail-placeholder {
  padding: 35px 100px;
  color: $whiteText;

  h2 {
    margin: 0 0 12px;
  }

  p {
    font-family: 'Proxima Light', sans-serif;
    opacity: 0.85;
  }
}
