<label for="search" class="search-container">
  <i class="fas fa-search"></i>
  <input
    #input
    class="search-input"
    type="search"
    name="search"
    id="search"
    placeholder="Search music..."
    aria-label="Search"
    autocomplete="off"
    (keyup)="searchString$.next($event.target.value)"/>
  <i [ngStyle]="{'visibility': (searchString$ | async) ? 'visible' : 'hidden'}"
     class="fas fa-times"
     style="cursor: pointer"
     (click)="searchString$.next(''); input.value = ''"
  ></i>
</label>
