@import './variables.scss';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$mat-green: (
  50: #E8F5E9,
  100: #C8E6C9,
  200: #A5D6A7,
  300: #81C784,
  400: #66BB6A,
  500: #00d949,
  600: #43A047,
  700: #388E3C,
  800: #2E7D32,
  900: #1B5E20,
  A100: #00d949,
  A200: #00d949,
  A400: #00d949,
  A700: #00d949,
  contrast: (
    50: $white-87-opacity,
    100: $white-87-opacity,
    200: $white-87-opacity,
    300: $white-87-opacity,
    400: white,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $white-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$music-player-primary: mat-palette($mat-green, A200, A100, A400);
// Create the theme object (a Sass map containing all of the palettes).
$music-player-theme: mat-dark-theme($music-player-primary, $music-player-primary);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($music-player-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

body,
html,
h1 {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @media screen and (max-width: 415px) {
    overflow-x: hidden!important;
  }
}

@font-face {
  font-family: Proxima;
  src: url('assets/fonts/ProximaNova-Bold.woff') format('woff');
}

@font-face {
  font-family: "Proxima Light";
  src: url('assets/fonts/ProximaNova-Light.woff') format('woff');
}

body { margin: 0; font-family: Proxima, "Helvetica Neue", sans-serif; }

.transparent_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 50%;
  outline: none !important;
  color: #fff;
}

.active {
  color: $lightGreen;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 5px;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $lightGreen;
}
