<div class="track-container">
  <div class="track">
    <button class="transparent_button" (click)="playPause()">
      <i class="icon" [ngClass]="{'ion-ios-play': !isPlaying(), 'ion-ios-pause': isPlaying(), 'active': isCurrentTrack()}"></i>
    </button>
    <div class="track-info">
      <div class="artists" [ngClass]="{'active': isCurrentTrack()}">
        <span
          *ngFor="let artist of getArtists(track?.artists)"
          (click)="redirectTo(artist.id)"
        > {{artist.name}} </span>
      </div>
      <div class="name">
        <span [ngClass]="{'active': isCurrentTrack()}">{{track.name}}</span>
      </div>
    </div>
    <p [ngClass]="{'active': isCurrentTrack()}">{{msToMinSec(track.durationMs)}}</p>
  </div>
</div>
