<div class="container">
  <div *ngIf="track.previewUrl" class="track">
    <button class="transparent_button" (click)="playPause(track)">
      <i class="material-icons active" *ngIf="isPlaying(track)">pause_circle_outline</i>
      <i class="material-icons" *ngIf="!isPlaying(track)">play_circle_outline</i>
    </button>
    <h6 [ngClass]="{'active': isPlaying(track)}">{{track.name}}</h6>
    <p [ngClass]="{'active': isPlaying(track)}">{{msToMinSec(track.durationMs)}}</p>
  </div>
  <mat-slider *ngIf="isPlaying(track)" class="time-slider" min="0" [max]="state?.duration" step="1"
              [value]="state?.currentTime" (input)="onSliderTimeChanged($event)">
  </mat-slider>
  <mat-divider *ngIf="track.previewUrl"></mat-divider>
</div>
