@import '../../../variables';

.container {
  font-family: "Proxima Light", serif;
  padding: 0;

  h2,
  h5,
  h6,
  p {
    margin: 0;
    color: $whiteText;
  }

  .track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    max-height: 52px;

    h6 {
      margin: 0 15px;
      text-align: center;
      transition: all 200ms ease-in;
    }
  }

  .active {
    color: $lightGreen;
  }
}

