@import '../../../variables';

.track-container {
  font-family: "Proxima Light", serif;
  margin: 0;
  padding: 0;
  width: 100%;

  h2,
  h5,
  h6,
  p {
    margin: 0;
    color: $whiteText;
  }

  .track {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    max-height: 52px;

    .track-info {
      display: flex;
      flex-basis: 100%;

      .artists {
        font-family: "Proxima", serif;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50%;
        margin: 0 50px;

        span {
          white-space: nowrap;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .name {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50%;
        margin: 0 20px;

        span {
          text-align: center;
          transition: all 200ms ease-in;
          white-space: nowrap;
        }
      }
    }
  }

  .active {
    color: $lightGreen;
  }
}

